div[class*=modal] form video[autoplay] { display: none; }

code, pre { font-family: "Envy Code R", Iosevka, monospace; }

.guilds-wrapper { width: 175px; }
.guilds-wrapper .scroller-wrap { width: 200px; }
.guilds-wrapper .guilds { display: flex; flex-flow: row wrap; padding-left: 0; align-content: flex-start; }
.guilds-wrapper .guilds .guild { margin: 0.5em 0 0 0.4em; }
.guilds-wrapper .guilds .guild.unread::before { height: 1rem; width: 1rem; border-radius: 100%;
	border: solid 0.25rem #1e2124; left: calc(35px - 0.25rem); top: calc(45px - 0.25rem); z-index: 9000; }
.guilds-wrapper .guilds .guild:first-child { position: relative; top: 0; margin: auto; margin-top: 15px; }
.guilds-wrapper .guilds .guild-separator { position: relative; width: 100%; margin-top: 10px; }
.guilds-wrapper .guilds .friends-online { position: relative; width: 100%; margin: auto; margin-top: 5px; }
.guilds-wrapper .guilds .guild.selected:before { height: 1rem; width: 1rem; border-radius: 100%;
	border: solid 0.25rem #1e2124; left: calc(35px - 0.25rem); top: 55px; z-index: 9000; transition: none !important; }
.guilds-wrapper .guilds .guild { position: relative; }
.guilds-wrapper .guilds .dms { width: 100%; display: flex; flex-flow: row wrap; }
.guilds-wrapper .guilds .dms .guild { left: 0; }
