.user-popout-banned-video { display: none; }
.user-popout-banned-video + .margin-top-20 { margin-top: 0; }

.guilds-wrapper { width: 125px; }
.guilds-wrapper .scroller-wrap { width: 150px; }
.guilds-wrapper .guilds { display: flex; flex-flow: row wrap; padding-left: 0;
  align-content: flex-start; }
.guilds-wrapper .guilds .guild { margin-left: 8px; margin-top: 8px; }
.guilds-wrapper .guilds .guild.unread::before { left: -2px; top: 5px; z-index:9000; }
.guilds-wrapper .guilds .guild:first-child { position: relative; left: 0; margin: auto;
  margin-top: 15px; }
.guilds-wrapper .guilds .guild-separator { position: relative; width: 100%; margin-top: 10px; }
.guilds-wrapper .guilds .friends-online { position: relative; width: 100%; margin: auto;
  margin-top: 5px; }
.guilds-wrapper .guilds .guild.selected:before { display: none; }
.guilds-wrapper .guilds .guild { position: relative; }
.guilds-wrapper .guilds .dms { width: 100%; display: flex; flex-flow: row wrap; }
.guilds-wrapper .guilds .dms .guild { left: 0; }
.guilds-wrapper { width: 25px !important;
  transition: all 200ms !important; filter: brightness(20%); }
.guilds-wrapper:hover { width: 125px !important; filter: none; }

/*
.member-username-inner, .user-name, .channel-name, .guild-header span, .member-activity strong,
.channel-members h2, .topic {
  font-size: 0 !important;
}
.member-username-inner:after, .user-name:after, .guild-header span:after, .member-activity strong:after,
.channel-members h2:after, .topic:after {
  font-size: 16px !important;
  content: 'devon';
}
.topic img { display: none !important; }
.channel-members h2:after { font-size: 13px !important; }
.member-activity strong:after { font-size: 12px !important; }
.channel-name:before { font-size: 12px !important; }
.account-details .username, .account-details .discriminator { font-size: 0 !important; }
.account-details .username:after { content: 'devon'; font-size: 14px !important; }
.account-details .discriminator:after { content: '#4089'; font-size: 11px !important; }
.typing .text strong { font-size: 0 !important; }
.typing .text strong:after { font-size: 13px !important; content: 'devon'; }
.channel-name:after { font-size: 15px !important; content: 'devon'; }
.avatar-small, .avatar-large {
  background-image: url(https://images.discordapp.net/avatars/122122926760656896/bec58ca810e767279ddda23ebeb971eb.png?size=1024) !important;
}

