#!/bin/sh

# apply tewi
if [ -d ~/fonts/tewi/out ]; then
  xset +fp ~/fonts/tewi/out
fi

xcompmgr &

# start urxvtd in the background
urxvtd -q -f

# set cursor properly
xsetroot -cursor_name left_ptr

# keyboard modifiers and such
xmodmap ~/.xmodmap

# xcompmgr
xcompmgr &

# xscreensaver
xscreensaver -no-splash &

# disable touchpad
xinput disable "ETPS/2 Elantech Touchpad"
