#!/bin/sh

# apply tewi
if [ -d ~/fonts/tewi/out ]; then
  xset +fp ~/fonts/tewi/out
fi

xcompmgr &

# start urxvtd in the background
urxvtd -q -f

# set cursor properly
xsetroot -cursor_name left_ptr

# swap caps with escape
setxkbmap -option "caps:swapescape"
