! cursor
Xcursor.theme: Vanilla-DMZ

! xft
Xft.dpi: 96
Xft.antialias: true
Xft.rgba: rgb
Xft.hinting: true
Xft.hintstyle: hintslight

urxvt.font: -xos4-terminus-medium-r-normal-*-14-*-72-72-c-80-iso10646-1
urxvt*scrollBar: false

! like vga colorscheme, but better
*.foreground:   #ababab
*.background:   #000000
*.cursorColor:  #ababab
*.color0:       #000000
*.color8:       #343434
*.color1:       #e92f2f
*.color9:       #e92f2f
*.color2:       #0ed839
*.color10:      #0ed839
*.color3:       #dddd13
*.color11:      #dddd13
*.color4:       #3b48e3
*.color12:      #3b48e3
*.color5:       #f996e2
*.color13:      #f996e2
*.color6:       #23edda
*.color14:      #23edda
*.color7:       #ababab
*.color15:      #f9f9f9
