! cursor
Xcursor.theme: Vanilla-DMZ

! xft
Xft.dpi: 96
Xft.rgba: rgb
Xft.hinting: 1
Xft.antialias: 1
Xft.lcdfitler: lcddefault
Xft.hintstyle: hintslight

! urxvt
urxvt.scrollBar: false
urxvt.font: xft:Iosevka:pixelsize=16
! urxvt.font: -lucy-tewi-medium-r-normal--11-90-100-100-c-60-iso10646-*
! urxvt.boldFont: -lucy-tewi-bold-r-normal--11-80-100-100-c-60-iso10646-*
URxvt.letterSpace: -1

st.termname:     st-256color
st.font:         tewi:pixelsize=9
st.borderpx:     2
st.cursorshape:  2
st.cursorthickness:  2
st.bold_font:    1
st.xfps:         60
st.actionfps:    60
st.chscale:      1.0
st.cwscale:      0.85
st.blinktimeout: 800
st.bellvolume:   0
st.opacity:      255
