! cursor
Xcursor.theme: Vanilla-DMZ

! xft
Xft.dpi: 96
Xft.antialias: true
Xft.rgba: rgb
Xft.hinting: true
Xft.hintstyle: hintslight

#define FONT PragmataPro Mono
#define FONT_SIZE 18

st.font: FONT:pixelsize=FONT_SIZE:rgba=rgb
st.borderpx: 3
st.cursorshape: 2
st.cursorthickness: 2
st.bold_font: 1
st.xfps: 120
st.actionfps: 60
st.chscale: 1.0
st.cwscale: 1.0
st.blinktimeout: 500
st.bellvolume: 0
st.prompt_char: %
st.opacity: 255

! like vga colorscheme, but better
*.foreground:   #ababab
*.background:   #000000
*.cursorColor:  #ababab
*.color0:       #000000
*.color8:       #343434
*.color1:       #e92f2f
*.color9:       #e92f2f
*.color2:       #0ed839
*.color10:      #0ed839
*.color3:       #dddd13
*.color11:      #dddd13
*.color4:       #3b48e3
*.color12:      #3b48e3
*.color5:       #f996e2
*.color13:      #f996e2
*.color6:       #23edda
*.color14:      #23edda
*.color7:       #ababab
*.color15:      #f9f9f9
